
/*float left por que al ser div no se le puede poner
inline sin que pierda las dimensiones de width y height, 
por tanto se da block y se les añade float.*/
.a, .b, .c {
    width: 25%;
    height: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    }

/*tiene margen para poder centrarlo respecto a izquierda solo 
en el primer elemento*/
.a{
    background: rgb(75, 74, 74);
    margin-left: 10%;
    box-shadow: 10px 5px 20px grey;

    }
div:nth-child(1) {background-color: pink;}

div:nth-of-type(mp4) {background-color: blue;}

p::selection{background-color: pink; color:yellow;}

.b{
    background: rgb(150, 151, 150);
    }

.c{
    background: rgb(26, 196, 159);
    }

/* aquí se anula el float con none y tiene margen para poder centrarlo respecto a izquierda en 
este caso que va en block es para todos*/
@media (max-width: 618px)
{
    .a, .b, .c {
    width:80% ;
    height: 50px;
    float: left;
    margin-left: 10%;
    }
 }

h1{text-align: center;}